header {
  position: fixed;
  right: 5%;
  top: 2%;
  margin-right: 2rem;
  z-index: 10;
}
header .Header__Container {
  position: relative;
}
header .Header__Container #Menu {
  background-color: #fff;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.8);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  animation-name: ToBottom;
  animation-duration: 1s;
  z-index: 6;
  position: absolute;
  top: 0;
}
header .Header__Container #Menu:hover {
  cursor: pointer;
}
header .Header__Container #Menu img {
  display: inline-block;
  width: 50%;
  transform: translate(50%, 60%);
}
header .Header__Container #Menu2 {
  background-image: radial-gradient(#29283f, #29283f);
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.8);
  border: 1px solid #ffd43b;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  transition: all 1s;
  animation-name: ToBottom;
  animation-duration: 1s;
  z-index: 4;
  position: absolute;
  top: 0;
}
header .Header__Container .Navigation {
  display: none;
  position: absolute;
  right: 10%;
  margin-right: 5rem;
  z-index: 6;
}
header .Header__Container .Navigation ul {
  list-style: none;
}
header .Header__Container .Navigation ul li {
  width: 25rem;
  display: block;
}
header .Header__Container .Navigation ul li a:link,
header .Header__Container .Navigation ul li a:visited {
  color: #ffd43b;
  padding: 1.5rem 0;
  margin: 1rem 0;
  font-size: 2.5rem;
  transition: all 0.3s;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
header .Header__Container .Navigation ul li a:hover {
  background-color: #ffd43b;
  color: #fff;
}
header .Header__Container .Navigation__display {
  display: block;
  animation-name: ToLeft2;
  animation-duration: 1s;
}

.Open {
  transform: scale(18);
}

.Section-Hero {
  width: 100%;
  height: 100%;
  padding-bottom: 80rem;
}
.Section-Hero--Container {
  padding: 5rem 10rem;
  position: relative;
  animation-name: ToRight;
  animation-duration: 1s;
}
.Section-Hero--Container__H1 {
  position: absolute;
  top: 120%;
  left: 12.5%;
  color: #fff;
  width: 4rem;
  font-size: 5rem;
  border-bottom: 5px solid #ffd43b;
  z-index: 1;
}
.Section-Hero--Container__Img {
  width: 35rem;
  height: 41rem;
  background-image: url("img/Arzuman.png.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 20%;
  top: 125%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
}
.Section-Hero--Container__Contact {
  position: absolute;
  top: 300%;
  left: 12.5%;
}
.Section-Hero--Container__Contact a:not(:last-child) {
  margin-right: 1rem;
}
.Section-Hero--Container__Contact a:link,
.Section-Hero--Container__Contact a:visited {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}
.Section-Hero--Container__Contact__Img {
  width: 100%;
  height: 100%;
}
.Section-Hero--Container__Introdaction {
  width: 35rem;
  position: absolute;
  top: 125%;
  right: 20%;
}
.Section-Hero--Container__Introdaction__Text {
  font-size: 1rem;
  letter-spacing: 1rem;
  color: #ced4da;
  margin-bottom: 3rem;
}
.Section-Hero--Container__Introdaction__QA {
  color: #fff;
  font-size: 5rem;
  margin-bottom: 3rem;
}
.Section-Hero--Container__Introdaction__LT {
  color: #ced4da;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.Section-Hero--Container__Introdaction__a {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  text-decoration: none;
  border-bottom: 1px solid #ffd43b;
  color: #ffd43b;
  transition: all 0.3s;
}
.Section-Hero--Container__Introdaction__a:hover {
  border-bottom: 1px solid transparent;
  background-color: #ffd43b;
  color: #fff;
}

.Section-AboutMe {
  color: #fff;
  padding-bottom: 25rem;
}
.Section-AboutMe h2 {
  padding: 0 10rem;
  font-size: 4.5rem;
}
.Section-AboutMe__Container {
  display: inline-block;
  padding: 10rem 15rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10rem;
  column-gap: 5rem;
}
.Section-AboutMe__Container__Item {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Section-AboutMe__Container__Item__Img {
  width: 8rem;
  height: 8rem;
  margin-bottom: 2rem;
}
.Section-AboutMe__Container__Item__Img img {
  width: 100%;
  height: 100%;
}
.Section-AboutMe__Container__Item h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #ffd43b;
}
.Section-AboutMe__Container__Item__D ul li h3 {
  font-size: 2rem;
}
.Section-AboutMe__Container__Item__D ul li p {
  font-size: 1.5rem;
}

.Section-Certificates {
  color: #fff;
  padding-bottom: 25rem;
}
.Section-Certificates h2 {
  padding: 0 10rem;
  font-size: 4.5rem;
}
.Section-Certificates__Container {
  padding: 10rem 15rem;
}
.Section-Certificates__Container__Slider {
  border-radius: 2rem;
  width: 100%;
  height: 25rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
  position: relative;
}
.Section-Certificates__Container__Slider__Image {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 30rem;
  background-size: 100% 100%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
  background-image: url("../../img/c1.png");
}
.Section-Certificates__Container__Slider__D {
  position: absolute;
  top: 50%;
  right: 35%;
  transform: translate(50%, -50%);
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #ffd43b;
}
.Section-Certificates__Container__Slider__Button {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid transparent;
  font-size: 4rem;
  transition: all 0.3s;
  color: #ffd43b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Section-Certificates__Container__Slider__Button:hover {
  box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.8);
  cursor: pointer;
  color: #fff;
  background-color: #ffd43b;
}
.Section-Certificates__Container__Slider__Button:active {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
}
.Section-Certificates__Container__Slider #btn--left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.Section-Certificates__Container__Slider #btn--right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
}

.Section-Organizations {
  color: #fff;
}
.Section-Organizations h2 {
  padding: 0 10rem;
  font-size: 4.5rem;
}
.Section-Organizations__Container {
  display: inline-block;
  padding: 10rem 15rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.Section-Organizations__Container__Items {
  width: 30rem;
  height: 100%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s;
}
.Section-Organizations__Container__Items:hover {
  transform: translateY(-5rem);
}
.Section-Organizations__Container__Items__Image {
  width: 30rem;
  height: 30rem;
  background-size: 100% 100%;
}
.Section-Organizations__Container__Items__Image--1 {
  background-image: url("img/o1.png");
}
.Section-Organizations__Container__Items__Image--2 {
  background-image: url("img/o2.png");
}
.Section-Organizations__Container__Items__Image--3 {
  background-image: url("img/o3.jpg");
}
.Section-Organizations__Container__Items__Image--4 {
  background-image: url("img/o4.png");
}
.Section-Organizations__Container__Items__D h3 {
  font-size: 2rem;
  padding: 2rem 0;
  color: #ffd43b;
}
.Section-Organizations__Container__Items__D p {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

html {
  font-size: 62.5%;
  font-family: "Hind", sans-serif;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #29283f;
  overflow-x: hidden;
}

@keyframes ToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 1;
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes ToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 1;
    transform: translateX(-1rem);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes ToBottom {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    opacity: 1;
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes ToLeft2 {
  0% {
    opacity: 0;
    transform: translateX(100rem);
  }
  80% {
    opacity: 1;
    transform: translateX(-1rem);
  }
  100% {
    transform: translate(0);
  }
}

@media (max-width: 1478px) {
  .Section-Organizations__Container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10rem;
  }
  .Section-Organizations__Container__Items {
    width: 30rem;
  }
  .Section-Organizations__Container__Items__Image {
    width: 30rem;
    height: 30rem;
  }
}

@media (max-width: 1416px) {
  .Section-Certificates__Container__Slider__D {
    font-size: 2rem;
  }
}

@media (max-width: 1271px) {
  .Section-Hero--Container__H1 {
    left: 10%;
  }
  .Section-Hero--Container__Contact {
    left: 10%;
  }
  .Section-Hero--Container__Img {
    left: 18%;
  }
  .Section-Hero--Container__Introdaction {
    right: 15%;
  }
}

@media (max-width: 1251px) {
  .Section-Hero--Container__H1 {
    left: 8%;
  }
  .Section-Hero--Container__Contact {
    left: 8%;
  }
  .Section-Hero--Container__Img {
    left: 18%;
  }
  .Section-Hero--Container__Introdaction {
    right: 12%;
  }
  .Section-Certificates__Container__Slider__Image {
    left: 25%;
  }
  .Section-Certificates__Container__Slider__D {
    left: 15%;
    width: 55%;
    font-size: 1.6rem;
  }
  header .Header__Container #Menu {
    width: 5rem;
    height: 5rem;
  }
  header .Header__Container #Menu2 {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 1187px) {
  .Section-AboutMe__Container__Item__Img {
    width: 6rem;
    height: 6rem;
  }
  .Section-AboutMe__Container__Item h2 {
    font-size: 3rem;
  }
  header .Header__Container .Navigation__display ul li {
    width: 15rem;
  }
  header .Header__Container .Navigation__display ul li a:link,
  header .Header__Container .Navigation__display ul li a:visited {
    margin-bottom: 1rem;
    padding: 0rem;
  }
  .Open {
    transform: scale(14);
  }
}

@media (max-width: 1161px) {
  .Section-Hero--Container__H1 {
    left: 4%;
  }
  .Section-Hero--Container__Contact {
    left: 4%;
  }
  .Section-Hero--Container__Img {
    left: 15%;
  }
  .Section-Hero--Container__Introdaction {
    right: 5%;
  }
}

@media (max-width: 1125px) {
  #NameoftheSections {
    font-size: 4rem;
  }
  .Section-AboutMe__Container__Item__Img {
    width: 4rem;
    height: 4rem;
  }
  .Section-AboutMe__Container__Item h2 {
    font-size: 2.5rem;
  }
  .Section-AboutMe__Container__Item__D ul li h3 {
    font-size: 1.5rem;
  }
  .Section-AboutMe__Container__Item__D ul li p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1111px) {
  .Section-Hero--Container__H1 {
    left: 5%;
  }
  .Section-Hero--Container__Contact {
    left: 5%;
  }
  .Section-Hero--Container__Img {
    left: 17%;
  }
  .Section-Hero--Container__Introdaction {
    right: 13%;
  }
  .Section-Certificates__Container__Slider {
    height: 40rem;
  }
  .Section-Certificates__Container__Slider__Image {
    width: 25rem;
    height: 25rem;
    top: 40%;
    left: 50%;
  }
  .Section-Certificates__Container__Slider__D {
    top: 90%;
    right: 90%;
    height: 20%;
    width: 100%;
    transform: translate(-15%, -50%);
    font-size: 2rem;
  }
}

@media (max-width: 1001px) {
  header {
    right: 10%;
  }
  #NameoftheSections {
    font-size: 3rem;
  }
  .Section-Hero--Container__H1 {
    font-size: 4rem;
  }
  .Section-Hero--Container__Introdaction__QA {
    font-size: 4.5rem;
    margin-bottom: 4.5rem;
  }
  .Section-Hero--Container__Introdaction__LT {
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
  }
  .Section-Organizations__Container {
    grid-template-rows: repeat(2, 1fr);
  }
  .Section-Organizations__Container__Items {
    width: 25rem;
  }
  .Section-Organizations__Container__Items__Image {
    width: 25rem;
    height: 25rem;
  }
}

@media (max-width: 971px) {
  .Section-Hero--Container__Contact a:link,
  .Section-Hero--Container__Contact a:visited {
    width: 2rem;
    height: 2rem;
  }
  .Section-Hero--Container__Contact a:not(:last-child) {
    margin-right: 0.5rem;
  }
  .Section-AboutMe__Container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 931px) {
  .Section-Hero--Container__Img {
    width: 30rem;
    height: 36rem;
  }
  .Section-Hero--Container__Introdaction {
    width: 36rem;
  }
  .Section-Hero--Container__Introdaction p {
    font-size: 1.5rem;
  }
  .Section-AboutMe__Container__Item {
    height: 120%;
  }
}

@media (max-width: 871px) {
  .Section-Hero--Container__Img {
    width: 25rem;
    height: 31rem;
  }
  .Section-Hero--Container__Introdaction {
    width: 25rem;
  }
  .Section-Hero--Container__Introdaction__QA {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
  .Section-Hero--Container__Introdaction p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  .Section-Hero--Container__Introdaction__a {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}

@media (max-width: 836px) {
  .Section-Certificates__Container__Slider {
    height: 35rem;
  }
  .Section-Certificates__Container__Slider__Image {
    width: 20rem;
    height: 15rem;
  }
  .Section-Certificates__Container__Slider__Button {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
  }
  .Section-Certificates__Container__Slider__D {
    font-size: 1.5rem;
  }
  .Section-Organizations__Container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 738px) {
  .Section-Hero {
    padding-bottom: 75rem;
  }
  .Section-Hero--Container__H1 {
    left: 16%;
    top: 20%;
  }
  .Section-Hero--Container__Contact {
    left: 16%;
    top: 180%;
  }
  .Section-Hero--Container__Img {
    left: 50%;
    top: 90%;
    transform: translate(-50%, -20%);
    width: 20rem;
    height: 26rem;
  }
  .Section-Hero--Container__Introdaction {
    top: 400%;
    right: 45%;
    transform: translate(50%, -20%);
    width: 28rem;
  }
  .Section-Hero--Container__Introdaction p {
    margin-bottom: 2rem;
  }
  .Section-Hero--Container__Introdaction__QA {
    margin-bottom: 2.5rem;
  }
  #NameoftheSections {
    font-size: 2.5rem;
  }
  .Section-AboutMe__Container__Item__D ul li h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 703px) {
  .Section-Certificates__Container__Slider__D {
    font-size: 1.2rem;
  }
  .Section-Certificates__Container__Slider__D
    .Section-Certificates__Container__Slider {
    height: 30rem;
  }
}

@media (max-width: 622px) {
  .Section-Certificates__Container {
    padding: 10rem 10rem;
  }
  .Section-Certificates__Container__Slider {
    width: 100%;
  }
  .Section-Organizations__Container__Items__Image {
    width: 25rem;
    height: 20rem;
  }
}

@media (max-width: 556px) {
  .Section-AboutMe__Container {
    padding: 10rem 10rem;
  }
}

@media (max-width: 546px) {
  .Section-Hero--Container__H1 {
    left: 13%;
  }
  .Section-Hero--Container__Contact {
    left: 13%;
  }
  .Section-Organizations__Container {
    padding: 10rem 10rem;
  }
}

@media (max-width: 521px) {
  .Section-Certificates__Container {
    padding: 10rem 6rem;
  }
  .Section-AboutMe__Container {
    padding: 10rem 6rem;
  }
  .Section-Organizations__Container {
    padding: 10rem 6rem;
  }
}

@media (max-width: 501px) {
  .Section-Hero--Container__H1 {
    left: 10%;
  }
  .Section-Hero--Container__Contact {
    left: 10%;
  }
}

@media (max-width: 461px) {
  .Section-Hero--Container__H1 {
    left: 5%;
  }
  .Section-Hero--Container__Contact {
    left: 5%;
  }
}

@media (max-width: 445px) {
  .Section-AboutMe__Container__Item h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 441px) {
  .Section-Certificates__Container {
    padding: 10rem 3rem;
  }
  .Section-AboutMe__Container {
    padding: 10rem 3rem;
  }
  .Section-Organizations__Container {
    padding: 10rem 3rem;
  }
}

@media (max-width: 426px) {
  #NameoftheSections {
    padding: 0;
    text-align: center;
    padding: 0 1rem;
  }
}

@media (max-width: 401px) {
  .Section-Hero--Container__H1 {
    left: 2.5%;
  }
  .Section-Hero--Container__Contact {
    left: 2.5%;
  }
}

@media (max-width: 381px) {
  .Section-Certificates__Container {
    padding: 10rem 1rem;
  }
  .Section-AboutMe__Container {
    padding: 10rem 1rem;
  }
  .Section-Organizations__Container {
    padding: 10rem 1rem;
  }
  .Section-Certificates__Container__Slider__Button {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
  }
  .Section-Certificates__Container__Slider #btn--left {
    transform: translate(20%, -50%);
  }
  .Section-Certificates__Container__Slider #btn--right {
    transform: translate(-20%, -50%);
  }
  .Section-Hero--Container__H1 {
    font-size: 3.5rem;
  }
  .Section-Hero--Container__Contact a:link,
  .Section-Hero--Container__Contact a:visited {
    width: 1.8rem;
    height: 1.8rem;
  }
}

